@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Dancing+Script&family=Lobster&family=Lora:ital,wght@1,500&family=Oswald:wght@300;400&family=Quicksand:wght@300&family=Righteous&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.max-width{
	max-width: 1300px;
	padding:  10px 0;
	margin: auto;

}

.navbar {
	position: relative;
	font-family: 'Barlow Condensed', sans-serif;
	width: 100%;
	padding: 10px;
	background: #390400;
}

.navbar .max-width {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a{
	color: #cdb439;
	font-size: 35px;
	font-weight: 600;
}

.navbar .logo a:hover {
	color: red;
}

.navbar .logo a span{
	color: #e7e1e1fc;
}

.navbar .logo a span:hover {
	color: white;
}

.navbar .menu li{
	list-style: none;
	display: inline-block;
}

.navbar .menu li a{
	display: block;
	color: white;
	font-size: 20px;
	font-weight: 700;
	margin-left: 30px;
}

.navbar .menu li a:hover {
	color: red;
}

.home {
	display: flex;
	background: url("a.jpg") no-repeat center;
	height: 80vh;
	color: #f5da53;
	min-height: 800px;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Barlow Condensed', sans-serif;
}

.home .max-width {
	margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
	font-size: 25px;
}

.home .home-content .text-2 {
	font-size: 100px;
	font-weight: 300px;
	margin-left: -3px;
}

.home .home-content .text-3 {
	font-size: 25px;
}

.home .home-content a {
	display: inline-block;
	background: red;
	color: white;
	font-size: 25px;
	padding: 12px 36px;
	margin-top: 30px;
	border-radius: 20px;
	transition: all 1s linear;
}

.home .home-content a:hover {
	color: whitesmoke;
	background: gray;
	transition: all 1s ease;
}

.about {
	font-family: 'Barlow Condensed', sans-serif;
	color: whitesmoke;

}

section {
	padding: 100px 0;
}

.about {
	font-family: 'Barlow Condensed', sans-serif;
 	background: url("d.jpg") no-repeat center;
 	height: 60vh;
 	min-height: 500px;
 	font-weight: 800;
 	background-size: cover;
 	background-attachment: fixed;
}

.about .title {
	text-align: center;
	font-size: 30px;
	padding-bottom: 10px;
	font-weight: 600;
}

.about .about-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.about .about-content .left {
	width: 45%;
}

.about .about-content .left img {
	height: 300px;
	width: 500px;
	object-fit: cover;
	border-radius: 14px;
}

.about .about-content .right {
	width: 55%;
}

.about .about-content .right .text {
	margin-bottom: 10px;
}

.about .about-content .right p {
	font-size: 20px;
	text-align: justify;
}

.about .about-content .mema {
	font-size: 50px;
	font-weight: 100px;
}

.about .about-content .mema:hover {
	color: black;
}

.services {
	color: black;
	display: flex;
	background: url("h.jpg") no-repeat center;
	height: 90vh;
	color: black;
	min-height: 500px;
	background-size: cover;
	background-attachment: fixed;
}

.services .max-width .mema {
	color: white;
	padding-bottom: 40px;
	text-align: center;
	font-size: 50px;
}

.services .services-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}


.services .services-content .card {
	width: calc(33% - 20px);
	background: white;
	text-align: center;
	border-radius: 6px;
	padding: 20px 25px;
}

.services .services-content .card:hover {
	background: #445379;
}

.services .services-content .card .box {
	transition: all 0.3s ease;
}

.services .services-content .card .box:hover {
	transform: scale(1.05);
}

.services .services-content .card img {
	height: 60px;
	width: 60px;
}

.services .services-content .text {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 30px;
	font-weight: 600;
	margin: 10px;
}

.services .services-content p {
	font-family: 'Barlow Condensed', sans-serif;
}

.skills {
	font-family: 'Barlow Condensed', sans-serif;
	color: white;
	font-size: 18px;
	background: url("d.jpg") no-repeat center;
	height: 70vh;
	min-height: 500px;
}

.skills .title {
	text-align: center;
	font-size: 30px;
	padding-bottom: 50px;
}

.skills .skills-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.skills .skills-content .column {
	width: calc(50% - 30px);
}

.skills .skills-content .left .text {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
}

.skills .skills-content .left p{
	text-align: justify;
	font-size: 18px;
}

.skills .skills-content .left a {
	display: inline-block;
	background: red;
	color: white;
	font-size: 25px;
	padding: 12px 36px;
	margin-top: 30px;
	border-radius: 20px;
	transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
	color: white;
	background: black;
}

.skills .skills-content .right .bar {
	margin-bottom: 15px;
}

.skills .skills-content .right .info {
	display: flex;
	margin-bottom: 5px;
	align-items: center;
	justify-content: space-between;
}

.skills .skills-content .right span {
	font-weight: 600;
	font-size: 18px;
	padding: 5px;
}

.skills .skills-content .right .line {
	height:  5px;
	width: 100%;
	background: lightgray;
	position: relative;
}

.skills .skills-content .right .line::before {
	content: "";
	position: absolute;
	height: 100%;
	left: 0;
	right: 0;
	background: maroon;
}

.skills-content .right .html::before {
	width: 95%;
}

.skills-content .right .css::before {
	width: 90%;
}

.skills-content .right .js::before {
	width: 75%;
}

.skills-content .right .php::before {
	width: 85%;
}

.skills-content .right .mysql::before {
	width: 95%;
}

/*CONTACT */

.contact {
	font-family: 'Barlow Condensed', sans-serif;
	background: url("n.jpg") no-repeat center;
	height: 70vh;
	min-height: 500px;
	background-size: cover;
	background-attachment: fixed;
}

.contact .title {
	text-align: center;
	font-size: 20px;
	padding-bottom: 18px;
	color: white;
}

.contact .contact-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.contact .contact-content .column {
	width: calc(50% - 50px);
}

.contact .contact-content .column .text {
	color: floralwhite;
	font-size: 25px;
	font-weight: 600;
	margin: 20px 0;
}

.contact .contact-content .left p {
	color: antiquewhite;
	font-size: 18px;
	text-align: justify;
}

.contact .contact-content .row{
	display: flex;
	height: 65px;
	align-items: center;
}

.contact .contact-content .row .info {
	margin-left: 30px;
}

.contact .contact-content .left img {
	height: 20px;
	width: 20px;
}

.contact .contact-content .info .head {
	color: white;
	font-weight: 600;
	padding: 5px 0;
}
.contact .contact-content .info .sub-title {
	font-weight: 600;
	color: antiquewhite;
}

.contact .right form .fields {
	display: flex;
}

.contact .right form .field,
.contact .right form .fields, .field {
	height: 45px;
	width: 100%;
	margin-bottom: 10px;
}

.contact .right form .textarea {
	height: 80px;
	width: 100%;
}

.contact .right form .name {
	margin-right: 10px;
}
.contact .right form .email {
	margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
	height:  100%;
	width: 100%;
	border: 1px solid lightgray;
	border-radius: 6px;
	outline: none;
	padding: 0 15px;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
}

.contact .right form .textarea textarea {
	border-color: red;
	padding-top: 10px;
}

.contact .right form .button {
	height: 50px;
	width: 170px;
}

.contact .right form .button button {
	width: 100%;
	height: 100%;
	background: red;
	border-radius: 2px solid black;
	outline: none;
	color: whitesmoke;
	font-size: 10px;
	border-radius: 6px;
	cursor: pointer;
}

.contact .right form .button button:hover {
	color: white;
	border: 2px solid white;
	background: maroon;
}

/*Foorer */

footer {
	font-family: 'Barlow Condensed', sans-serif;
	text-align: center;
	background: black;
	color: white;
	padding: 10px 25px;
}

footer span {
	color: red;
	text-decoration: none;
}

footer span a{
	color: red;
}

footer span a:hover {
	text-decoration: underline;
	color: brown;
}